.header {
  --tw-bg-opacity: 1;
  background-color: #1e2334;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark;

  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

#nav-menu {
  @apply w-full overflow-hidden md:max-h-full md:w-auto;
}

.nav-item {
  @apply lg:mx-3;

  select:focus {
    box-shadow: none;
  }
}

.nav-link {
  @apply py-3 px-2 font-primary text-base font-bold text-dark transition hover:text-primary md:py-4 lg:px-3;

  &-active {
    @apply text-primary;
  }
}
