.header {
  --tw-bg-opacity: 1;
  background-color: #1e2334;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark;

  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

#nav-menu {
  @apply w-full overflow-hidden md:max-h-full md:w-auto;
}

.nav-item {
  @apply lg:mx-3;

  select:focus {
    box-shadow: none;
  }
}

.nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.45rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &-active,&:hover {
    border-bottom: 3px solid #00a1ff;
    color: #00a1ff;
  }
}
